
@font-face{
    font-family: openSans;
    src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
}

footer{
    background-color: $blue-color;
    color: $black-color;
    padding-top: 1em;
    margin-top: 2em;
    
}
.margin{
    padding: 1em;
    margin: 2em;
}