@font-face{
    font-family: 'openSans';
    src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
}

/*Color variables*/
$black-color: #000000;
$white-color: #ffffff;
$blue-color: #3c54a0;
$offwhite-color: #fdf6ec;
$orange-color: #ff9000;
$lightblue-color: #b8c1e1;